body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

img {
  display: block;
  margin: 0 auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------- HEADER ------- */
.header {
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.header-nav :hover,
.header-nav :focus {
  color: #404bbf;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.header-logo :focus {
  color: #404bbf;
}

.header-logo-web {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-nav-link {
  color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link :hover,
.header-nav-link :focus {
  color: #404bbf;
  text-decoration: none;
  transition: color;
}

.studio-line {
  position: relative;
}

.studio-line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
  background-color: rgba(64, 75, 191, 1);
  bottom: -1px;
}

.studio-text {
  color: #404bbf;
}

/* address */
.page-address {
  font-style: normal;
  margin-left: auto;
}

.page-address :hover,
.page-address :focus {
  color: #404bbf;
}

.page-address-menu {
  display: flex;
  gap: 40px;
}

.page-address-info {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-address-info:hover {
  transition: color;
}

/* ------- SLOGAN -------*/
.slogan {
  padding: 188px 0 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herobackground.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.slogan-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  width: 100%;
  margin: 0 auto 48px;
}

/* button */
.button-order {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover {
  background-color: rgba(64, 75, 191, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
}

/* -------FEATURES ------- */

.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-menu {
  display: flex;
  margin: 0 auto;
  gap: 24px;
}

.features-list {
  width: calc((100% - 72px) / 4);
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  padding: 24px 100px;
  gap: 24px;
  width: calc((100% - 24 * 4) / 3);
  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;
  background-color: rgba(244, 244, 253, 1);
  margin-bottom: 8px;
}

.features-title {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------- TEAM ------- */

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-container {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  background: #f4f4fd;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
}

.team-people {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
}

.team-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc((100% - 24px * 3) / 4);
  background-color: #f4f4fd;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name-position {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #fff;
}

.team-members {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-menu-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-list-icon {
  width: 40px;
  height: 40px;
}

.team-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: #404bbf;
}

/* .team-link-icon:hover,
.team-link-icon:active
{
  background-color: #404bbf;
} */

/* ------- PORTFOLIO ------- */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay-cover-wrap {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(244, 244, 253, 1);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 1);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------- FOOTER ------- */
.footer {
  background: #2e2f42;
  padding: 100px 0 100px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  display: flex;
  width: 264px;
}

.footer-social-title {
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 16px;
}

.footer-menu-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-list-icon {
  width: 40px;
  height: 40px;
}

.footer-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: rgba(49, 208, 170, 1);
}
